dbdir /var/lib/munin
htmldir /var/www/html/munin
logdir /var/log/munin
rundir /var/run/munin
tmpldir /etc/munin/templates
includedir /etc/munin/conf.d
graph_strategy cron
cgiurl_graph /munin-cgi/munin-cgi-graph
html_strategy cron
max_processes 8

{% for host in munin_hosts %}
[{{ host.name }}]
    address {{ host.address }}
    use_node_name yes
{% endfor %}
